
@import "../common/less/base";

.email {
    font-family: @base-font;
    font-size: 22px;
    line-height: 1.4;

    &__body {
        margin: 0;
        padding: 64px 8px;
        background: @bg;
    }
}